@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

body {
  background: #fff;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 0.888888889rem;
  margin: 0;
}

.main {
  padding: 0 1.333333333rem 1.333333333rem;
}

/* Header */
.header {
  background-color: #492140;
  color: #fff;
  margin-bottom: 1.333333333rem;
  padding: 20px 110px 21px 111px;
  text-align: center;
}

.header__title {
  font-size: 1.333333333rem;
  font-weight: 700;
}

.form__control {
  margin-top: 1.333333333rem
}

/* Form */
.form__control label {
  display: block;
  margin-bottom: 0.5rem;
}
.form__control input {
  border: 1px solid #263238;
  border-radius: 8px;
  opacity: 0.16;
  height: 56px;
  width: 332px;
}
.form__control-error {
  color: #F8380D;
  display: block;
  font-size: 0.666666667rem;
  margin-top: 0.5rem;
}